@font-face {
    font-family: 'SackersGothic';
    src: url('SackersGothicMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SackersGothic', Arial, sans-serif;
    background: url('background.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: #333;
    backdrop-filter: blur(5px);
    padding: 20px;
    box-sizing: border-box;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.top-section {
    text-align: center;
    margin-top: 0;
}

h1 {
    font-size: 6em;
    margin: 0;
    color: #333;
    line-height: 1.3;
}

h3 {
    font-size: 2.5em;
    margin: 20px 0;
    color: #666;
}

.bottom-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    box-sizing: border-box;
}

.bottom-left {
    text-align: left; /* Align text to the left */
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    width: fit-content; /* Ensure the box fits the content */
    line-height: 1.3;
}

.bottom-left a {
    color: #333; /* Change link color to match text */
    text-decoration: none; /* Remove underline */
}

.bottom-left a:hover {
    text-decoration: underline; /* Optional: Add underline on hover */
}


.bottom-left p {
    margin: 0 0 10px 0;
    color: #333;
}

.bottom-right {
    text-align: right; /* Keep text aligned to the right */
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.social-links {
    display: flex;
    flex-direction: column; /* Stack icons vertically */
    align-items: center; /* Center them horizontally */
}

.social-links a {
    margin-top: 10px;
    color: #333;
    text-decoration: none;
    font-size: 1em;
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center text with the icon */
}

.social-links img {
    width: 35px;
    height: 35px;
    margin-right: 8px;
}


/* Responsive Design */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 4em;
        line-height: 1.3;
    }

    h3 {
        font-size: 1.8em;
    }

    .bottom-section {
        flex-direction: column;
        text-align: center;
    }

    .bottom-left, .bottom-right {
        margin-top: 10px;
        font-size: 1.2em;
        line-height: 1.3;
    }

    .social-links img {
        width: 30px;
        height: 30px;
    }
}
